<%if params[:WMI_ORDER_STATE] == "Accepted"%>
	<h2>Поздравляем, заказ оформлен</h2>
	<p>Параметры заказа: </p>
<% else %>
	<h2>Заказ не оплачен</h2>
<% end %>

<%= params.each do |key,value|%>
	<p><%=key%>: <%=value%></p>
<% end %>